@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');

/* === Common Style === */

@font-face {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Black Ops One'), local('BlackOpsOne-Regular'), url(../fonts/BlackOpsOne-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    background: #000000;
    font-family: 'Nunito', sans-serif;
}

h1,
button,
a {
    /* font-family: 'Nunito', sans-serif; */
    color: #337AB7;
}

h1 {
    padding: 0 0 10px 0
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin: 0
}

.divider {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
    padding-bottom: 9px
}

button,
.cbtn {
    min-width: 120px;
    padding: 5px 20px;
    border-radius: 0;
    color: #337AB7;
    border: 1px solid #eee;
    text-align: center;
    text-decoration: none !important;
}

button,
.cbtn:hover {
    background: #EEEEEE
}

.green {
    color: green
}

.red {
    color: rgb(234, 101, 101);
}

.maroon {
    color: maroon
}


/* === Main Wrapper === */

.main_wrapper {
    margin: 0px 0 0 0;
    padding: 10px;
    border-radius: 0px;
}


/* === Navigation Section === */

.nav li a {
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 0
}


/* === Content Section === */

.page-header {
    margin: 20px 0 10px
}


/* === Requirement Page === */

.requirement ul {
    margin: 0;
    padding: 0
}

.requirement ul li {
    list-style: none;
    padding: 5px;
    border: 1px solid #eee
}

table {
    width: 100%;
    margin: 0 0 20px 0;
}

table thead {
    background: #fdfdfd;
    border: 1px solid #eee;
}

table thead td {
    padding: 10px;
    border: 1px solid;
    color: #00ac5f;
    font-weight: 900;
}

table tbody td {
    border-bottom: 1px solid #EEEEEE;
    padding: 2px;
}


/* === Setup/Install Page === */

.form-control {
    border-radius: 0 !important
}

.form-group {
    margin-bottom: 5px
}

.content {
    min-height: 400px
}

.btn:hover {
    color: white !important;
    display: inline-block;
    padding: 14px 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #07ab5e !important;
    font-size: 17px;
    border: none;
}

.btn {
    color: white !important;
    display: inline-block;
    padding: 14px 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: white !important;
    font-size: 17px;
    border: 1px solid #07ab5e;
    color: #07ab5e !important;
}

input[type="text"] {
    border: none !important;
    font-size: 14px!important;
    color: #5e5e5e!important;
    padding-left: 15px!important;
    padding-right: 40px!important;
    background: rgb(171 171 171 / 13%)!important;
    box-shadow: none!important;
    width: 100%!important;
    display: inline-block!important;
    line-height: 30px!important;
    border-radius: 7px!important;
    transition: 0.5s ease-out!important;
    height: 40px!important;
    font-weight: 700!important;
    font-family: 'Nunito', sans-serif!important;
    margin-bottom: 10px!important;
}