<div class="login-background">
    <div class="text-center mt-20"><img width="200px" src="assets/img/app-logo.png" alt=""></div>
    <form class="form-signin mt-50" name="form" ng-submit="RESET_PASSWORD()" role="form">
        <div class="form__group">
            <input type="text" class="form__input" name="NEW_PASSWORD" ng-model="NEW_PASSWORD" placeholder="Type your new password" required="" autofocus="" />
        </div>
        <div class="form__group">
            <input type="text" class="form__input" name="NEW_PASSWORD" ng-model="NEW_PASSWORD_CONF" placeholder="Comfirm your password" required="" autofocus="" />
        </div>
        <div class="form__group">
            <button class="btn login-btn btn-lg btn-default btn-block" ng-disabled="form.$invalid || dataLoading" type="submit" translate="Send"></button>
        </div>
        <hr>
        <a href="#!/" translate="Go_Home"></a> -
        <a href="#!/login" translate="BACK_LOGIN"></a>
    </form>
</div>