<div ng-include src="'assets/views/includes/sidebar.html'"></div>
<md-content class="app-wrapper">
    <md-toolbar class="md-toolbar-tools standart-feature-header">
        <h2 flex md-truncate translate="APPLICATION_OPTIONS"></h2>
    </md-toolbar>
    <md-content class="pl-20 mb-20 bg-white" layout-padding>
        <div ng-click="GO_PATH('options/general')" class="options-feature-card col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <md-icon md-svg-icon="assets/icons/options.svg" class="icon"></md-icon>
                <h4 class="title" translate="OPTIONS_GENERAL_TITLE"></h4>
                <span class="description" translate="OPTIONS_GENERAL_DESC"></span>
            </div>
        </div>
        <div ng-click="GO_PATH('options/custom-fields')" class="options-feature-card col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <md-icon md-svg-icon="assets/icons/fields.svg" class="icon"></md-icon>
                <h4 class="title" translate="OPTIONS_CF_TITLE"></h4>
                <span class="description" translate="OPTIONS_CF_DESC"></span>
            </div>
        </div>
        <div ng-click="GO_PATH('options/business-hours')" class="options-feature-card col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <md-icon md-svg-icon="assets/icons/hours.svg" class="icon"></md-icon>
                <h4 class="title" translate="OPTIONS_BH_TITLE"></h4>
                <span class="description" translate="OPTIONS_BH_DESC"></span>
            </div>
        </div>
        <div ng-click="GO_PATH('options/cron-jobs')" class="options-feature-card col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <md-icon md-svg-icon="assets/icons/cron.svg" class="icon"></md-icon>
                <h4 class="title" translate="OPTIONS_CRON_JOB_TITLE"></h4>
                <span class="description" translate="OPTIONS_CRON_JOB_DESC"></span>
            </div>
        </div>
        <div ng-click="GO_PATH('options/departments')" class="options-feature-card col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <md-icon md-svg-icon="assets/icons/departments.svg" class="icon"></md-icon>
                <h4 class="title" translate="OPTIONS_DEPARTMENTS_TITLE"></h4>
                <span class="description" translate="OPTIONS_DEPARTMENTS_DESC"></span>
            </div>
        </div>
        <div ng-click="GO_PATH('options/processes')" class="options-feature-card col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <md-icon md-svg-icon="assets/icons/processes.svg" class="icon"></md-icon>
                <h4 class="title" translate="OPTIONS_PROCESS_TITLE"></h4>
                <span class="description" translate="OPTIONS_PROCESS_DESC"></span>
            </div>
        </div>
        <div ng-click="GO_PATH('knowledge-base')" class="options-feature-card col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <md-icon md-svg-icon="assets/icons/knowledge.svg" class="icon"></md-icon>
                <h4 class="title" translate="OPTIONS_KB_TITLE"></h4>
                <span class="description" translate="OPTIONS_KB_DESC"></span>
            </div>
        </div>
        <div ng-click="GO_PATH('options/email')" class="options-feature-card col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <md-icon md-svg-icon="assets/icons/email-options.svg" class="icon"></md-icon>
                <h4 class="title" translate="OPTIONS_EMAIL_TITLE"></h4>
                <span class="description" translate="OPTIONS_EMAIL_DESC"></span>
            </div>
        </div>
    </md-content>
</md-content>